:root{
    --bg-light: #f7f4ec;
    --bg-dark: #2c2727;
    --font-roboto: 'Roboto', sans-serif;
    --font-ubuntu: 'Ubuntu', sans-serif;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
    background-color: var(--bg-light);
    font-family: var(--font-roboto)
}

h1, h2, h3, h4, h5 {
    color: var(--bg-dark);
    font-family: var(--font-ubuntu)
}

h1{
    font-size: 5rem;
}

.content {
    padding: 10px;
}

.content h1{
    text-align: center;
}


